<h2>Perfil de Usuario</h2>
<p>Nombre: {{user.firstName}}</p>
<p>Apellido: {{user.lastName}}</p>
<p>Email: {{user.email}}</p>
<p>Edad: {{user.age}}</p>
<p>Rol: {{#if user.edit}}
    Admin
    {{else}}
    User
    {{/if}}
</p>
<form action="/logout" method="POST">
    <button type="submit">Cerrar Sesión</button>
</form>